[Unit]
Description=Modell Aachen Task and Topic Daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/mattdaemon
User=www-data
ExecStart=/usr/local/bin/mattdaemon

[Install]
WantedBy=multi-user.target
