[Unit]
Description=TaskDaemonPluginworker for MATTDaemon
After=network.target mattdaemon.service

[Service]
EnvironmentFile=/etc/default/taskdaemonworker-%i
User=www-data
ExecStart=/usr/local/bin/mattworker
Restart=on-failure

[Install]
WantedBy=multi-user.target
